openapi: 3.0.3
info:
  title: Club Leon Loyalty API
  version: 1.0.0
  description: API de lealtad v1 expuesta en /api/loyalty/v1
servers:
  - url: https://us-central1-e-comerce-leon.cloudfunctions.net/api/loyalty/v1
  - url: http://localhost:3000/api/loyalty/v1
tags:
  - name: Wallets
  - name: Transactions
  - name: Redemptions
  - name: Admin
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
  schemas:
    Problem:
      type: object
      required: [type, title, status, detail, code]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        code: { type: string }
        instance: { type: string }
    Wallet:
      type: object
      properties:
        memberId: { type: string }
        availablePoints: { type: integer }
        heldPoints: { type: integer }
        pendingPoints: { type: integer }
        lifetimeEarnedPoints: { type: integer }
        lifetimeRedeemedPoints: { type: integer }
        level: { type: string }
        nextExpirationAt: { type: string, format: date-time }
    Transaction:
      type: object
      properties:
        transactionId: { type: string }
        memberId: { type: string }
        type: { type: string }
        status: { type: string }
        points: { type: integer }
        balanceBefore: { type: integer }
        balanceAfter: { type: integer }
        channel: { type: string }
        amountCents: { type: integer }
        currency: { type: string }
        externalTransactionId: { type: string }
        description: { type: string }
        actorId: { type: string }
        createdAt: { type: string, format: date-time }
    Pagination:
      type: object
      properties:
        nextCursor: { type: string }
        hasMore: { type: boolean }
  responses:
    ProblemResponse:
      description: Error RFC7807
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
paths:
  /wallets/me:
    get:
      tags: [Wallets]
      summary: Monedero del usuario autenticado
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallet:
                    $ref: '#/components/schemas/Wallet'
        '403':
          $ref: '#/components/responses/ProblemResponse'
  /wallets/me/transactions:
    get:
      tags: [Wallets, Transactions]
      summary: Transacciones del usuario autenticado
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
      responses:
        '200':
          description: OK
  /admin/members/{memberId}/wallet:
    get:
      tags: [Admin, Wallets]
      summary: Monedero de miembro (admin)
      parameters:
        - { name: memberId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
        '404':
          $ref: '#/components/responses/ProblemResponse'
  /earn-preview:
    get:
      tags: [Transactions]
      summary: Preview de puntos por monto
      security: []
      parameters:
        - { name: amountCents, in: query, required: true, schema: { type: integer, minimum: 0 } }
      responses:
        '200':
          description: OK
  /earn-transactions:
    post:
      tags: [Transactions]
      summary: Acumular puntos por venta
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId, externalTransactionId, amountCents, channel]
              properties:
                memberId: { type: string }
                externalTransactionId: { type: string }
                amountCents: { type: integer, minimum: 1 }
                currency: { type: string, enum: [MXN] }
                channel: { type: string, enum: [ECOMMERCE, STORE, ADMIN, SYSTEM] }
      responses:
        '201':
          description: Creado
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
  /admin/adjustments:
    post:
      tags: [Admin, Transactions]
      summary: Ajuste manual
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId, points, reasonCode, description, externalReference]
      responses:
        '201':
          description: Creado
  /redemptions:
    post:
      tags: [Redemptions]
      summary: Reservar canje
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId, points]
      responses:
        '201':
          description: Creado
  /redemptions/{redemptionId}/confirm:
    post:
      tags: [Redemptions]
      summary: Confirmar canje
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - { name: redemptionId, in: path, required: true, schema: { type: string } }
      responses:
        '201':
          description: Confirmado
  /redemptions/{redemptionId}/cancel:
    post:
      tags: [Redemptions]
      summary: Cancelar canje
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - { name: redemptionId, in: path, required: true, schema: { type: string } }
      responses:
        '201':
          description: Cancelado
  /transactions/{transactionId}:
    get:
      tags: [Transactions]
      summary: Obtener transaccion
      parameters:
        - { name: transactionId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
        '404':
          $ref: '#/components/responses/ProblemResponse'
  /transactions/{transactionId}/reversals:
    post:
      tags: [Transactions]
      summary: Revertir transaccion
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - { name: transactionId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
      responses:
        '201':
          description: Creado
  /admin/transactions:
    get:
      tags: [Admin, Transactions]
      summary: Listar transacciones admin
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: memberId, in: query, schema: { type: string } }
        - { name: actorId, in: query, schema: { type: string } }
        - { name: channel, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
